{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block body %}
<style>
.hero{
        height:400px;
position:relative;

}

</style>
<div class="flex items-center justify-center flex-col mt-24 gap-16">

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="text-darkBlue-50 text-5xl font-bold mb-3 font-weight-normal">Register</h1>

    <form class=" flex flex-col items-center gap-8">
    {{ form_start(registrationForm)  }}
    <div class="flex flex-col items-center gap-4">
        {{ form_row(registrationForm.email, {label: false,'attr': {'class': 'task_field', 'placeholder':'Email'}})}}
        {{ form_row(registrationForm.plainPassword, {
            label: false,
            'attr': {'class': 'task_field', 'placeholder':'Password'}
        }) }}
        <div class="color-purple-500">
        {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'task_field color-blue-500'}}) }}
        </div>
    </div>
        <div>
            <button type="submit" class="btn gold primary">Register</button>
        </div>
    {{ form_end(registrationForm) }}
    <form>
    <div class="hero">
        <div class="hero-background h-1/2 w-1/2 border-8 border-gold-150 absolute top-1/2 left-1/2 rotate-45 -translate-y-1/2 -translate-x-1/2 "></div>
        <img src="./assets/images/assassin2.png" class="hero h-full" alt="image" />
    </div>
    </div>
{% endblock %}
