{% extends 'base.html.twig' %}

{% block title %}Admin Users{% endblock %}

{% block body %}
    <h1 class="title mb-8 ">User index</h1>

    <table class="table  mx-8">
        <thead>
            <tr  class="grid grid-cols-12">
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>IsVerified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr  class="grid grid-cols-12">
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles[0] }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td class="flex justify-center">
                    <a class="btn  small" href="{{ path('app_admin_user_show', {'id': user.id}) }}">show</a>
                    <a class="btn gold small"  href="{{ path('app_admin_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn small w-fit" href="{{ path('app_admin_user_new') }}">Create new</a>
{% endblock %}
