{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>
  .example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px / 1.5 sans-serif;
  }
  .example-wrapper code {
    adminground: #f5f5f5;
    padding: 2px 6px;
  }
</style>
{% set now = "now"|date("Y-m-d H:i:s") %}
<div class="home-title my-16  flex flex-col items-center">
<h1 class="text-7xl font-beaufort italic font-black text-darkBlue-150"> Welcome to</h1>
<img src="/assets/images/logo.svg" alt="logo" class="mt-8 h-52">
</div>
<div class="matches example-wrapper flex flex-col gap-2">
<h1>Incomings matches </h1>

    <ul>
    {#  incoming matchs #}
    {% for match in matchs|filter(m => date(m.date) > date(now)) %}
        <div class="flex justify-between">
            <div class=" bg-gold-150 text-white inline-block px-4 py-1 pb-6 translate-y-6 font-beaufort font-black italic tracking-widest">
            {{ match.competition }}
            </div>
            <div class=" bg-gold-150 text-white inline-block px-4 py-1 pb-6 translate-y-6 font-beaufort font-black italic tracking-widest">  {{match.date.format('d/m/y h:i')}}</div>
        </div>
        <li class="rounded-3xl relative overflow-hidden  bg-gradient-to-br from-darkBlue-50 to-darkBlue-150 text-white flex flex-col gap-4 items-center w-full">
            <img src="/assets/images/teams/{{ match.teamOne.logo }}-logo.png" class="absolute h-24 -left-6 -top-6 opacity-30" alt="logo">
            <img src="/assets/images/teams/{{ match.teamTwo.logo }}-logo.png" class="absolute h-24 -right-6 -top-6 opacity-30" alt="logo">
            <div class=" w-full grid grid-cols-match gap-8 py-8 z-20 font-beaufort text-xl font-bold italic">
                <div class="flex items-center justify-center gap-4 ">
                    <img src="/assets/images/teams/{{ match.teamOne.logo }}-logo.png" class="h-12 self-start"  alt="logo">
                    <span>{{ match.teamOne }}</span>
                </div>
                <span class="flex items-center">vs</span>
                <div class="flex items-center justify-center gap-4 ">
                    <span>{{ match.teamTwo }}</span>
                    <img src="/assets/images/teams/{{ match.teamTwo.logo }}-logo.png" class="h-12 self-start"  alt="logo">
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>

    </div>
{% endblock %}
