{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

<div>
    <div class="user-informations w-fit m-auto flex flex-col justify-center">
        <div class="flex flex-row">
            <h2>Username: </h2>
            <span class="ml-2">{{ user.username }}</span>
        </div>
        <div class="flex flex-row">
            <h2>Email : </h2>
            <span class="ml-2">{{ user.email }}</span>
        </div>
        <div class="flex flex-row">
            <h2>Balance : </h2>
            <span class="ml-2">{{ user.balance }}</span>
        </div>
    </div>
    <div class="balance-actions mt-5 w-fit m-auto flex flex-row gap-20">
        <button class="toggle-modal btn gold m-right-5">Make a deposit</button>
        <button class="toggle-modal btn gold m-left-5">Make a withdrawal</button>
    </div>
    <div
        id="deposit-modal"
        class="modal fixed top-28 left-0 right-0 z-10 overflow-x-hidden overflow-y-auto h-modal md:h-full"
    >
        <div class="relative w-fit m-auto z-20">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button
            type="button"
            class="icon-close-modal absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
            data-modal-hide="popup-modal"
            >
            <svg
                aria-hidden="true"
                class="w-5 h-5"
                fill="currentColor"
                viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
                ></path>
            </svg>
            <span class="sr-only">Close modal</span>
            </button>
            <div class="p-6 text-center">
            {{ form_start(formDeposit) }}
                {{ form_row(formDeposit.balance, {'label': 'Amount', 'value': 0 }) }}
                {{ form_row(formDeposit.creditCardNumber) }}
                {{ form_row(formDeposit.creditCardExpiration) }}
                {{ form_row(formDeposit.creditCardSecret) }}
                {{ form_row(formDeposit._token) }}
                <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(formDeposit, {'render_rest': false}) }}
            </div>
        </div>
        </div>
    </div>
    <div
        id="withdrawal-modal"
        class="modal fixed top-28 left-0 right-0 z-10 overflow-x-hidden overflow-y-auto h-modal md:h-full"
    >
        <div class="relative w-fit m-auto z-20">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 modal-2">
            <button
            type="button"
            class="icon-close-modal absolute z-20 top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
            data-modal-hide="popup-modal" 
            >
            <svg
                aria-hidden="true"
                class="w-5 h-5"
                fill="currentColor"
                viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
                ></path>
            </svg>
            <span class="sr-only">Close modal</span>
            </button>
            <div class="p-6 text-center">
            {{ form_start(formWithdrawal) }}
              {{ form_row(formWithdrawal.balance, {'label': 'Amount: '}) }}
                <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(formWithdrawal, {'render_rest': false}) }}
            </div>
        </div>
        </div>
    </div>
    <div class="modal-background fixed top-0 left-0 w-screen h-screen bg-black opacity-50"></div>
</div>

</div>
<script>
  const modals = document.getElementsByClassName('modal')
  const depositModal = document.getElementById('deposit-modal')
  const withdrawalModal = document.getElementById('withdrawal-modal')
  const modalBackground = document.getElementsByClassName('modal-background')[0]
  const toggleModalButtons = document.getElementsByClassName('toggle-modal')
  const iconCloseModals = document.getElementsByClassName('icon-close-modal')

  const openModal = (modal) => {
    modal.style.display = 'block'
    modalBackground.style.display = 'block'
  }

  const closeModals = () => {
    for (const modal of modals) {
      closeModal(modal)
    }
  }

  const closeModal = (modal) => {
    modal.style.display = 'none'
    modalBackground.style.display = 'none'
  }

  closeModals()

  for (let i = 0; i < modals.length; i++) {
    toggleModalButtons[i].addEventListener('click', () => openModal(modals[i]))
    iconCloseModals[i].addEventListener('click', () => closeModal(modals[i]))
  }

  document.addEventListener('click', (e) => {
    for (const modal of modals) {
      if (e.target === modal) {
        closeModal(modal)
      }
    }  
  })

  // Hide day select on modal deposit form
  document.getElementById('user_creditCardExpiration_day').style.display = 'none'
</script>
{% endblock %}
