{% extends 'base.html.twig' %}

{% block title %}Bet index{% endblock %}

{% block body %}
    <h1 class="title mb-8 mx-8">Bet index</h1>

    <table class="table mx-8">
        <thead>
            <tr class="grid grid-cols-5">
                <th>Id</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Earnings</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bet in bets %}
            <tr class="grid grid-cols-5">
                <td>{{ bet.id }}</td>
                <td>{{ bet.amount }}</td>
                <td>{{ bet.status }}</td>
                <td>{{ bet.earnings }}</td>
                <td  class="flex justify-center">
                    <a class="btn  small"  href="{{ path('app_admin_bet_show', {'id': bet.id}) }}">show</a>
                    <a class="btn gold small"  href="{{ path('app_admin_bet_edit', {'id': bet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn block " href="{{ path('app_admin_bet_new') }}">Create new</a>
{% endblock %}
