{% extends 'base.html.twig' %}

{% block title %}Bet{% endblock %}

{% block body %}
    <h1>Bet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bet.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ bet.amount }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ bet.status }}</td>
            </tr>
            <tr>
                <th>Earnings</th>
                <td>{{ bet.earnings }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_bet_index') }}">admin to list</a>

    <a href="{{ path('app_admin_bet_edit', {'id': bet.id}) }}">edit</a>

    {{ include('admin/bet/_delete_form.html.twig') }}
{% endblock %}
