{% extends 'base.html.twig' %}

{% block title %}Matchs index{% endblock %}

{% block body %}
    <h1>Matchs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BestOf</th>
                <th>TeamOne</th>
                <th>TeamTwo</th>
                <th>TeamOneRating</th>
                <th>TeamTwoRating</th>
                <th>TeamOneScore</th>
                <th>TeamTwoScore</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for match in matchs %}
            <tr>
                <td>{{ match.id }}</td>
                <td>{{ match.bestOf }}</td>
                <td>{{ match.teamOne }}</td>
                <td>{{ match.teamTwo }}</td>
                <td>{{ match.teamOneRating }}</td>
                <td>{{ match.teamTwoRating }}</td>
                <td>{{ match.teamOneScore }}</td>
                <td>{{ match.teamTwoScore }}</td>
                <td>{{ match.date ? match.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_back_matchs_show', {'id': match.id}) }}">show</a>
                    <a href="{{ path('app_back_matchs_edit', {'id': match.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_matchs_new') }}">Create new</a>
{% endblock %}
