{% extends 'base.html.twig' %}

{% block title %}Admin Show Matchs{% endblock %}

{% block body %}
    <h1 class="title mb-8 ">Matchs index</h1>

    <table class="table mx-8 ">
        <thead>
            <tr class="grid grid-cols-adminMatch">
                <th>Id</th>
                <th>BestOf</th>
                <th>TeamOne</th>
                <th>TeamTwo</th>
                <th>TeamOneRating</th>
                <th>TeamTwoRating</th>
                <th>TeamOneScore</th>
                <th>TeamTwoScore</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for match in matchs %}
            <tr class="grid grid-cols-adminMatch">
                <td>{{ match.id }}</td>
                <td>{{ match.bestOf }}</td>
                <td>{{ match.teamOne }}</td>
                <td>{{ match.teamTwo }}</td>
                <td>{{ match.teamOneRating }}</td>
                <td>{{ match.teamTwoRating }}</td>
                <td>{{ match.teamOneScore }}</td>
                <td>{{ match.teamTwoScore }}</td>
                <td>{{ match.date ? match.date|date('Y-m-d H:i:s') : '' }}</td>
                <td class="flex justify-center">
                    <a class="btn  small" href="{{ path('app_admin_matchs_show', {'id': match.id}) }}">show</a>
                    <a class="btn gold small" href="{{ path('app_admin_matchs_edit', {'id': match.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn block" href="{{ path('app_admin_matchs_new') }}">Create new</a>
{% endblock %}
