{% extends 'base.html.twig' %}

{% block title %}Matchs{% endblock %}

{% block body %}
    <h1>Matchs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ match.id }}</td>
            </tr>
            <tr>
                <th>BestOf</th>
                <td>{{ match.bestOf }}</td>
            </tr>
            <tr>
                <th>TeamOneRating</th>
                <td>{{ match.teamOneRating }}</td>
            </tr>
            <tr>
                <th>TeamTwoRating</th>
                <td>{{ match.teamTwoRating }}</td>
            </tr>
            <tr>
                <th>TeamOneScore</th>
                <td>{{ match.teamOneScore }}</td>
            </tr>
            <tr>
                <th>TeamTwoScore</th>
                <td>{{ match.teamTwoScore }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ match.date ? match.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_matchs_index') }}">admin to list</a>

    <a href="{{ path('app_admin_matchs_edit', {'id': match.id}) }}">edit</a>

    {{ include('admin/matchs/_delete_form.html.twig') }}
{% endblock %}
