{% extends 'base.html.twig' %}

{% block title %}Matchs{% endblock %}

{% block body %}
<div class="flex items-center gap-8 pl-8">
 <a class="  title text-blue-150 inline-block w-fit" href="{{ path('app_admin_matchs_index') }}">come back to list</a>
    {# <h1 class="title ">Matchs</h1> #}
</div>
    <table class="table mx-auto mb-8">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ match.id }}</td>
            </tr>
            <tr>
                <th>BestOf</th>
                <td>{{ match.bestOf }}</td>
            </tr>
            <tr>
                <th>TeamOneRating</th>
                <td>{{ match.teamOneRating }}</td>
            </tr>
            <tr>
                <th>TeamTwoRating</th>
                <td>{{ match.teamTwoRating }}</td>
            </tr>
            <tr>
                <th>TeamOneScore</th>
                <td>{{ match.teamOneScore }}</td>
            </tr>
            <tr>
                <th>TeamTwoScore</th>
                <td>{{ match.teamTwoScore }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ match.date ? match.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <div class="flex items-center justify-center mt-8 gap-8">
        <a class=" btn gold" href="{{ path('app_admin_matchs_edit', {'id': match.id}) }}">edit</a>
    {{ include('admin/matchs/_delete_form.html.twig') }}
    </div>

{% endblock %}
