{% extends 'base.html.twig' %} 
{% block title %}Hello MatchsController! {% endblock %} 

{% block body %}
<style>
  .example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px / 1.5 sans-serif;
  }
  .example-wrapper code {
    adminground: #f5f5f5;
    padding: 2px 6px;
  }
</style>

<div class="matches example-wrapper flex flex-col gap-2">
{% set now = "now"|date("Y-m-d H:i:s") %}

<h1>Incomings matches </h1>
    <ul>
    {#  incoming matchs #}
    {% for match in matchs|filter(m => date(m.date) > date(now)) %}
        <div class="flex justify-between">
            <div class=" bg-gold-150 text-white inline-block px-4 py-1 pb-6 translate-y-6 font-beaufort font-black italic tracking-widest">
            {{ match.competition }}
            </div>
            <div class=" bg-gold-150 text-white inline-block px-4 py-1 pb-6 translate-y-6 font-beaufort font-black italic tracking-widest">  {{match.date.format('d/m/y h:i')}}</div>
        </div>
        <li class="rounded-3xl relative overflow-hidden  bg-gradient-to-br from-darkBlue-50 to-darkBlue-150 text-white flex flex-col gap-4 items-center w-full">
            <img src="/assets/images/teams/{{ match.teamOne.logo }}-logo.png" class="absolute h-24 -left-6 -top-6 opacity-30" alt="logo">
            <img src="/assets/images/teams/{{ match.teamTwo.logo }}-logo.png" class="absolute h-24 -right-6 -top-6 opacity-30" alt="logo">
            <div class=" w-full grid grid-cols-match gap-8 py-4 z-20 font-beaufort text-xl font-bold italic">
                <div class="flex items-center justify-center gap-4 ">
                    <img src="/assets/images/teams/{{ match.teamOne.logo }}-logo.png" class="h-12 self-start"  alt="logo">
                    <span>{{ match.teamOne }}</span>
                </div>
                <span class="flex items-center">vs</span>
                <div class="flex items-center justify-center gap-4 ">
                    <span>{{ match.teamTwo }}</span>
                    <img src="/assets/images/teams/{{ match.teamTwo.logo }}-logo.png" class="h-12 self-start"  alt="logo">
                </div>
            </div>
            {# Buttons #}
            <div class="grid-cols-2 grid w-full font-beaufort gap-1  text-xl z-20">
                <button 
                data-match-id="{{
                  match.id
                }}"
                data-team-id="{{
                  match.teamOne.id
                }}"
                 class="toggle-bet-modal bg-gold-150 active:bg-gold-250  rounded-bl-3xl flex justify-between items-center  py-1 px-4">
                    <span class="text-darkBlue-50  font-black">{{ match.teamOne }}</span>
                    <span class="text-2xl font-black"> {{ match.teamOneRating }}</span>
                </button>
                <button 
                  data-match-id="{{match.id}}" 
                  data-team-id="{{match.teamTwo.id}}" 
                  class="toggle-bet-modal bg-gold-150 active:bg-gold-250 w-full rounded-br-3xl flex justify-between py-1 px-4"
                >
                    <span class="text-2xl font-black">{{ match.teamTwoRating }}</span>
                    <span class="text-darkBlue-50  font-black">{{ match.teamTwo }}</span>
                </button>
            </div>
        </li>
    {% endfor %}
</ul>
<h1>Passed matches </h1>
    <ul>
    {#  passed matchs #}
    {% for match in matchs|filter(m => date(m.date) <= date(now)) %}
        <div class="flex justify-between">
            <div class=" bg-gold-150 text-white inline-block px-4 py-1 pb-6 translate-y-6 font-beaufort font-black italic tracking-widest">
            {{ match.competition }}
            </div>
            <div class=" bg-gold-150 text-white inline-block px-4 py-1 pb-6 translate-y-6 font-beaufort font-black italic tracking-widest">   {{match.date.format('d/m/y h:i')}}</div>
        </div>
        <li class="rounded-3xl relative overflow-hidden  bg-gradient-to-br from-darkBlue-50 to-darkBlue-150 text-white flex flex-col gap-4 items-center w-full">
             {% if ( match.teamOneRating > match.teamTwoRating) %}
                 <div class="absolute left-0 top-0 h-full w-full bg-gradient-to-r opacity-50 z-10 from-gradient-150 to-gradient-250 via-black"></div>
                {% else %}  
                 <div class="absolute left-0 top-0 h-full w-full bg-gradient-to-r opacity-50 z-10 from-gradient-250 to-gradient-150 via-black"></div>
             {% endif %}
            <img src="/assets/images/teams/{{ match.teamOne.logo }}-logo.png" class="absolute h-24 -left-6 -top-6 opacity-30" alt="logo">
            <img src="/assets/images/teams/{{ match.teamTwo.logo }}-logo.png" class="absolute h-24 -right-6 -top-6 opacity-30" alt="logo">
            <div class="w-full grid grid-cols-match gap-8 py-8 z-20 font-beaufort text-xl font-bold italic">
                <div class="flex items-center justify-center gap-4 ">
                    <img src="/assets/images/teams/{{ match.teamOne.logo }}-logo.png" class="h-12 self-start"  alt="logo">
                    <span>{{ match.teamOne }}</span>
                    <span class='text-gold-150 text-3xl ml-8'>{{ match.teamOneScore }}</span>
                </div>
                    <span class="flex items-center">vs</span>
                <div class="flex items-center justify-center gap-4">
                    <span class='text-gold-150 text-3xl mr-8'>{{ match.teamTwoScore }}</span>
                    <span>{{ match.teamTwo }}</span>
                    <img src="/assets/images/teams/{{ match.teamTwo.logo }}-logo.png" class="h-12 self-start"  alt="logo">
                </div>
            </div>
        </li>
    {% endfor %}
  </ul>
  <div
    id="bet-modal"
    class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 overflow-x-hidden overflow-y-hidden z-999 w-full h-full flex items-center justify-center bg-black/80 "
  >
      <div class="relative rounded-lg shadow bg-white w-1/2">
        <button
          type="button"
          class="icon-close-bet-modal absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
          data-modal-hide="popup-modal"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5"
            fill="currentColor"
            viewbox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <div class=" p-6">
          {{ form_start(form,{'attr':{'class': 'flex justify-center items-center flex-col gap-8 '}}) }}
          <div>Parier sur le match </div>
            {% if user %}
            {{ form_row(form.amount,{'label': false, 'type': 'number', 'attr': {'class': 'task_field', 'placeholder':'Amount','required': 'required', 'min': '1', 'max': user.balance}}) }}
            {% else %}
            {{ form_row(form.amount,{'label': false, 'type': 'number', 'attr': {'class': 'task_field disconnected', 'placeholder':'Amount','required': 'required', 'min': '1', 'max': '99999'}}) }}
            {% endif %}
            <input type="hidden" value="" name="bet[match]" class="match-input input"/>
            <input type="hidden" value="" name="bet[team]" class="team-input input"/>
            {{ form_row(form._token) }}
            <button class="btn after:bg-white before:bg-white  primary">{{ button_label|default('Bet!') }}</button>
          {{ form_end(form, {'render_rest': false}) }}
        </div>
      </div>
  </div>
</div>

<script>
  const toggleModalButtons = document.getElementsByClassName('toggle-bet-modal')
  const modal = document.getElementById('bet-modal')
  const iconCloseBetModal = document.getElementsByClassName('icon-close-bet-modal')[0]
  const matchInput = document.getElementsByClassName('match-input')[0]
  const teamInput = document.getElementsByClassName('team-input')[0]

  const closeModal = () => {
    modal.style.display = 'none'
  }

  const openModal = (target) => {
    const isUserConnected = document.getElementsByClassName('disconnected')

    if (isUserConnected.length > 0) {
      window.location.href = '/login'
    } else {
      const matchId = target.closest('button').getAttribute('data-match-id')
      const teamId = target.closest('button').getAttribute('data-team-id')

      modal.style.display = 'flex'
      matchInput.value = matchId
      teamInput.value = teamId
    }
  }

  closeModal()

  for (const button of toggleModalButtons) {
    button.addEventListener('click', (e) => {
      openModal(e.target)
    })
  }

  iconCloseBetModal.addEventListener('click', closeModal)

  document.addEventListener('click', (e) => {
    if (e.target === modal) {
      closeModal()
    }
  })
</script>

{% endblock %} 
